#score {
    border: 6px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4em;
    margin: 1em;
  }
  
  #description {
    font-size: 5em;
    color: white;
    height: 150px;
    text-shadow: 2px 2px 2px black;
  }
  
  .header {
    font-size: 3em;
    text-align: center;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .selection {
    display: flex;
    justify-content: center;
  }
  
  .selection > div {
    margin: 1em;
  }
  
  img {
    margin: 0.5em;
    height: 196px;
  }
  
  .base {
    border-radius: 50%;
    padding: 0.25em;
  }
  
  .unselected {
    border: 8px solid white;
  }
  
  .selected {
    border: 8px solid green;
  }
  
  .aiSelected {
    border: 8px solid red;
  }
  
  body {
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: radial-gradient(ellipse at center, hsl(210, 6%, 93%), hsl(192, 70%, 59%));
}
 /* User choice */

 .user-choice {

    background-size: 340px;
    width: 100%;
    max-width: 700px;
    position: relative;
    height: 467px;
}

/* Modal section */

.modal.active, .modal-bg.active {
    display: block;
}


.rules-btn, .reset-btn { 
   border: 1px solid hsl(217, 16%, 45%);
   padding: 5px 25px;
   border-radius: 5px;
   position: absolute;
   right: 20px;
   bottom: 100px;
   cursor: pointer;
   color: #fff;
   background: linear-gradient(to left, transparent 50%, #fff 50%);
   background-size: 250% 100%;
   background-position: right bottom;
   transition: background-position .3s ease-out, color .3s ease-out;
   text-transform: uppercase;

}

.rules-btn:hover {
   background-position: left bottom;
   color: hsl(214, 47%, 23%);
}

.rulesImg {
   width: 50%;

}

.modal {
   position: fixed;
   /* Center the text */
   top: 50%;
   left: 50%;
   /* The top left corner is center, to center the whole text we need transform */
   transform: translate(-50%, -50%);
   display: none;
   border: 1px solid black;
   border-radius: 10px;
   z-index: 10;
   background-color: rgb(250, 250, 250);
   color: rgb(93, 155, 206);
   width: 500px;
   max-width: 60%;
}

.modal.active {
   display: block;
}

.modal-header {
   padding: 10px 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px dashed black;
}

.modal-header .title {
   font-size: 1.25rem;
   font-weight: bold;
}

.modal-header .close-btn {
   cursor: pointer;
   border: none;
   outline: none;
   background: none;
   font-size: 1.5rem;
   font-weight: bold;
}

.rules {
   padding: 10px 15px 20px;
}



#overlay {
   position: fixed;
   opacity: 0;
   transition: 200ms ease-in-out;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgb(0, 0, 0, .5);
   pointer-events: none;
}

#overlay.active {
   pointer-events: all;
   opacity: 1;
}